openapi: 3.1.0
info:
  title: Pictum API
  version: 1.0.0
  description: Render public assets
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://pictum.dev
    description: Production API
tags:
  - name: Icons
    description: Browse and render the icon catalog.
  - name: Avatars
    description: Render generated avatars or select seeded portraits.
  - name: QR codes
    description: Render Base64-encoded text as deterministic QR code images.
  - name: Placeholders
    description: Render exact-size placeholder images with optional text and colors.
security: []
paths:
  /v1/icons.json:
    get:
      tags: [Icons]
      operationId: listIconCollections
      summary: List icon collections
      description: Return icon collection metadata keyed by collection prefix.
      responses:
        "200":
          description: Collection metadata keyed by prefix.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            Cloudflare-CDN-Cache-Control:
              $ref: "#/components/headers/CloudflareCacheControl"
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        "503":
          $ref: "#/components/responses/CatalogUnavailable"
  /v1/icons/{prefix}.json:
    get:
      tags: [Icons]
      operationId: listCollectionIcons
      summary: List icons in a collection
      description: Return visible, categorized, hidden, and alias icon names without SVG bodies.
      parameters:
        - $ref: "#/components/parameters/CollectionPrefix"
      responses:
        "200":
          description: A collection index.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            Cloudflare-CDN-Cache-Control:
              $ref: "#/components/headers/CloudflareCacheControl"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionIndex"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/CatalogUnavailable"
  /v1/icons/{prefix}:{name}.svg:
    get:
      tags: [Icons]
      operationId: renderIconSvg
      summary: Render an SVG icon
      description: Resolve an icon or alias and return a dimensionless SVG.
      parameters:
        - $ref: "#/components/parameters/CollectionPrefix"
        - name: name
          in: path
          required: true
          description: Lowercase kebab-case icon name.
          schema:
            type: string
            pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          example: sparkles
      responses:
        "200":
          description: SVG icon markup.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            Cloudflare-CDN-Cache-Control:
              $ref: "#/components/headers/CloudflareCacheControl"
          content:
            image/svg+xml:
              schema:
                type: string
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/CatalogUnavailable"
  /v1/avatar.{format}:
    get:
      tags: [Avatars]
      operationId: renderAvatar
      summary: Render an avatar
      description: Render a deterministic identicon, gradient, or monogram, or select a seeded portrait from the current catalog. Portrait catalog changes may remap existing seeds.
      parameters:
        - name: format
          in: path
          required: true
          description: Output image file extension. Portraits support JPEG, PNG, and WebP; generated variants also support SVG.
          schema:
            type: string
            enum: [svg, jpg, png, webp]
          example: webp
        - name: seed
          in: query
          required: true
          description: URL-safe deterministic seed containing at least one letter or number.
          schema:
            type: string
            minLength: 1
            maxLength: 128
            pattern: "^[A-Za-z0-9](?:[A-Za-z0-9._~@+-]{0,126}[A-Za-z0-9])?$"
          example: ada-lovelace
        - name: variant
          in: query
          required: false
          description: Visual strategy used to produce the avatar.
          schema:
            type: string
            enum: [identicon, gradient, monogram, portrait]
            default: monogram
          example: portrait
        - name: gender
          in: query
          required: false
          description: Portrait catalog scope. This parameter is only valid when `variant` is `portrait`.
          schema:
            type: string
            enum: [any, male, female]
            default: any
          example: female
        - name: size
          in: query
          required: false
          description: Square raster size in pixels. This parameter is only valid for JPEG, PNG, and WebP.
          schema:
            type: integer
            minimum: 16
            maximum: 1024
            default: 256
          example: 512
      responses:
        "200":
          $ref: "#/components/responses/AvatarImage"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Invalid seed, variant, gender, raster format, or size.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: Avatar gender is only available for portrait avatars.
  /v1/qrcode.{format}:
    get:
      tags: [QR codes]
      operationId: renderQrCode
      summary: Render a QR code
      description: Render non-empty UTF-8 text as a deterministic SVG, JPEG, PNG, or WebP QR code with optional RGBA foreground and background colors. SVG, PNG, and WebP preserve transparency; JPEG composites transparent colors onto white. Base64 is not encryption; never include secrets because request URLs and responses may be logged or publicly cached.
      parameters:
        - name: format
          in: path
          required: true
          description: Output image file extension.
          schema:
            type: string
            enum: [svg, jpg, png, webp]
          example: svg
        - name: data
          in: query
          required: true
          description: Canonical standard Base64 encoding of 1–512 bytes of UTF-8 text.
          schema:
            type: string
            contentEncoding: base64
            minLength: 4
            maxLength: 684
          example: aHR0cHM6Ly9waWN0dW0uZGV2
        - name: size
          in: query
          required: false
          description: Square raster size in pixels. Defaults to 256 for JPEG, PNG, and WebP and is ignored for SVG.
          schema:
            type: integer
            minimum: 64
            maximum: 2048
            default: 256
          example: 512
        - name: quiet_zone
          in: query
          required: false
          description: Keep clear space around the QR modules for reliable scanning. Defaults to true.
          schema:
            type: boolean
            default: true
          example: false
        - name: foreground
          in: query
          required: false
          description: QR module color as a six-digit RGB or eight-digit RGBA hex value.
          schema:
            type: string
            pattern: '^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$'
            default: "#000000ff"
          example: "#4c1d95ff"
        - name: background
          in: query
          required: false
          description: QR background color as a six-digit RGB or eight-digit RGBA hex value. Transparency is composited onto white for JPEG output.
          schema:
            type: string
            pattern: '^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$'
            default: "#00000000"
          example: "#ede9fe"
      responses:
        "200":
          description: Deterministic QR code image.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            Cloudflare-CDN-Cache-Control:
              $ref: "#/components/headers/CloudflareCacheControl"
          content:
            image/svg+xml:
              schema:
                type: string
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Invalid Base64 data, decoded text, raster size, quiet zone setting, or color.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: QR code data must be valid base64-encoded UTF-8 text.
  /v1/placeholder.{format}:
    get:
      tags: [Placeholders]
      operationId: renderPlaceholder
      summary: Render a placeholder
      description: Render an SVG, JPEG, PNG, or WebP placeholder. Provide exactly `size`, or both `width` and `height`.
      parameters:
        - name: format
          in: path
          required: true
          description: Output image file extension.
          schema:
            type: string
            enum: [svg, jpg, png, webp]
          example: svg
        - name: size
          in: query
          required: false
          description: Logical square width and height in pixels. Provide this parameter without `width` or `height`.
          schema:
            type: integer
            minimum: 16
            maximum: 2048
          example: 320
        - name: width
          in: query
          required: false
          description: Logical image width in pixels. Provide this parameter with `height` and without `size`.
          schema:
            type: integer
            minimum: 16
            maximum: 4096
          example: 640
        - name: height
          in: query
          required: false
          description: Logical image height in pixels. Provide this parameter with `width` and without `size`. Logical width multiplied by height may not exceed 4,194,304 pixels.
          schema:
            type: integer
            minimum: 16
            maximum: 4096
          example: 360
        - name: density
          in: query
          required: false
          description: Optional raster pixel-density multiplier. This parameter is only valid for JPEG, PNG, and WebP; omit it for standard density. Rendered dimensions remain subject to output pixel limits.
          schema:
            type: integer
            enum: [2, 3]
          example: 2
        - name: background
          in: query
          required: false
          description: Six- or eight-digit hexadecimal background color, with an optional leading `#`. Eight-digit colors use `#rrggbbaa` syntax. SVG, PNG, and WebP preserve alpha; JPEG composites it over white.
          schema:
            type: string
            pattern: "^#?[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$"
            default: "#f1eef8"
          example: "#ffffff"
        - name: color
          in: query
          required: false
          description: Six- or eight-digit hexadecimal text color, with an optional leading `#`. Eight-digit colors use `#rrggbbaa` syntax. SVG, PNG, and WebP preserve alpha; JPEG composites it over white.
          schema:
            type: string
            pattern: "^#?[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$"
            default: "#6d28d9"
          example: "#111827"
        - name: text
          in: query
          required: false
          description: Centered label up to 64 characters.
          schema:
            type: string
            maxLength: 64
          example: Coming soon
      responses:
        "200":
          description: Exact-size placeholder image.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            Cloudflare-CDN-Cache-Control:
              $ref: "#/components/headers/CloudflareCacheControl"
          content:
            image/svg+xml:
              schema:
                type: string
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Invalid dimension combination, density, rendered dimensions, colors, or text.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  parameters:
    CollectionPrefix:
      name: prefix
      in: path
      required: true
      description: Lowercase kebab-case icon collection prefix.
      schema:
        type: string
        pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
      example: lucide
  headers:
    ETag:
      description: Identifier for conditional requests.
      schema:
        type: string
    CacheControl:
      description: Public browser and shared-cache directives.
      schema:
        type: string
        example: public, max-age=86400
    CloudflareCacheControl:
      description: Cache duration used by Cloudflare.
      schema:
        type: string
        example: public, max-age=2592000, stale-while-revalidate=86400
  responses:
    AvatarImage:
      description: Deterministic generated or seeded portrait avatar image.
      headers:
        ETag:
          $ref: "#/components/headers/ETag"
        Cache-Control:
          $ref: "#/components/headers/CacheControl"
        Cloudflare-CDN-Cache-Control:
          $ref: "#/components/headers/CloudflareCacheControl"
      content:
        image/jpeg:
          schema:
            type: string
            format: binary
        image/png:
          schema:
            type: string
            format: binary
        image/webp:
          schema:
            type: string
            format: binary
        image/svg+xml:
          schema:
            type: string
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    CatalogUnavailable:
      description: The icon catalog could not be read or resolved.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    CollectionIndex:
      type: object
      required:
        - prefix
        - total
        - title
        - uncategorized
        - categories
        - hidden
        - aliases
      properties:
        prefix:
          type: string
        total:
          type: integer
          minimum: 0
        title:
          type: string
        info:
          type: object
        uncategorized:
          type: array
          items:
            type: string
        categories:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        hidden:
          type: array
          items:
            type: string
        aliases:
          type: object
          additionalProperties:
            type: string
        lastModified:
          type: integer
    Error:
      type: object
      required: [message]
      properties:
        message:
          type: string
